.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__edit-button:focus,
.profile__edit-button:active {
  outline: none;
}

.profile__edit-button {
  min-width: 24px;
  height: 24px; 
  margin-left: 18px;
  margin-right: auto;
  border: 1px solid #ffffff;
  background-color: #000000;
  padding: 0;
  transition: opacity linear .5s;
  background-image: url("../../../images/edit-button-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}

@media screen and (max-width: 425px) {
  .profile__edit-button {
    min-width: 18px;
    height: 18px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: -30px;
  }
} 