.overlay__profile-info {
  display: flex;
  flex-direction: column;
  min-width: 358px;
  width: 80%;
  border: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 470px) {
  .overlay__profile-info {
    min-width: 238px;
  }
}