.profile__capture {
  margin: 16px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* border: solid 1px yellow; */
}

@media screen and (max-width: 425px) {
  .profile__capture {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
    /* max-width: 200px; */
  }
}

