.header {
  border-bottom: 1px solid rgba(84,84,84, 0.7);
  /* min-height: 74px; */
  max-width: 880px;
  margin: 45px auto 0;
  padding-bottom: 41px;
}

@media screen and (max-width: 425px) {
  .header {
    padding-left: 5%;
  }
}