.profile__profile-info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: auto;
  overflow: hidden;
  /* border: solid 1px gray; */
}

@media screen and (max-width: 425px) {
  .profile__profile-info {
    margin: 26px 0 0 28px;
  /* Левый марджин компенсирует кнопку справа, делая текст по центру */
  }
}