.elements__capture {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 0 0 10px 10px;
  /* tl - tr - br - bl | Не уверен нужно ли и можно ли использовать тут что-то еще кроме px для радиуса*/
  overflow: hidden;
}
