.elements__item:hover {
  transform: scale(1.08);
}

.elements__item {
  width: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  transition: transform 0.5s linear;
}